<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp API</title>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp API</h1>
    <div class="container">
      <h2>How to use:</h2>
      <p>Clone the following github repository: <a href="https://github.com/akcm25/fcc-api-1">https://github.com/akcm25/fcc-api-1</a></p>
      <p>Run <strong>npm start</strong> on terminal.</p>
      <p>Go to <a href="localhost:3000">localhost:3000</a></p>
      <br />
      <h2>Example:</h2>
      <ul>
        <li><a href="api/2015-12-25">localhost:3000/api/2024-11-13</a></li>
        <li><a href="api/1451001600000">localhost:3000/api/1659008800000</a></li>
      </ul>

      <h2>Output:</h2>
      <p>
        <code>{"unix":1731456000000,"utc":"Wed, 13 Nov 2024 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        <strong>By Amine Kacimi.</strong>
      </p>
      <p>Thanks to <a href="https://freecodecamp.org"><strong>freeCodeCamp</strong></a></p>
    </div>
  </body>
</html>
